services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant_localgen
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage

  app:
    build: .
    container_name: local_datagen_app
    depends_on:
      - qdrant
    environment:
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./output_files:/app/output_files
      - ./resources:/app/resources
    stdin_open: true
    tty: true

configs:
  qdrant_config:
    content: |
      log_level: INFO
